<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uni0E09</key>
	<dict>
		<key>uni0E34</key>
		<integer>-102</integer>
		<key>uni0E42</key>
		<integer>-113</integer>
		<key>uni0E43</key>
		<integer>-113</integer>
		<key>uni0E44</key>
		<integer>-113</integer>
	</dict>
</dict>
</plist>
