<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>nonmarkingreturn</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>Euro</string>
		<string>quotesinglbase</string>
		<string>florin</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>circumflex</string>
		<string>perthousand</string>
		<string>Scaron</string>
		<string>guilsinglleft</string>
		<string>OE</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>bullet</string>
		<string>endash</string>
		<string>emdash</string>
		<string>tilde</string>
		<string>trademark</string>
		<string>scaron</string>
		<string>guilsinglright</string>
		<string>oe</string>
		<string>.notdef#1</string>
		<string>Ydieresis</string>
		<string>nonbreakingspace</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>uni00DF</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>ampersand.001</string>
		<string>uni0E33.alt1</string>
		<string>uni0E4E.alt1</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>hungarumlaut</string>
		<string>uni0E00</string>
		<string>uni0E01</string>
		<string>uni0E02</string>
		<string>uni0E03</string>
		<string>uni0E04</string>
		<string>uni0E05</string>
		<string>uni0E06</string>
		<string>uni0E07</string>
		<string>uni0E08</string>
		<string>uni0E09</string>
		<string>uni0E0A</string>
		<string>uni0E0B</string>
		<string>uni0E0C</string>
		<string>uni0E0D</string>
		<string>uni0E0E</string>
		<string>uni0E0F</string>
		<string>uni0E10</string>
		<string>uni0E11</string>
		<string>uni0E12</string>
		<string>uni0E13</string>
		<string>uni0E14</string>
		<string>uni0E15</string>
		<string>uni0E16</string>
		<string>uni0E17</string>
		<string>uni0E18</string>
		<string>uni0E19</string>
		<string>uni0E1A</string>
		<string>uni0E1B</string>
		<string>uni0E1C</string>
		<string>uni0E1D</string>
		<string>uni0E1E</string>
		<string>uni0E1F</string>
		<string>uni0E20</string>
		<string>uni0E21</string>
		<string>uni0E22</string>
		<string>uni0E23</string>
		<string>uni0E24</string>
		<string>uni0E25</string>
		<string>uni0E26</string>
		<string>uni0E27</string>
		<string>uni0E28</string>
		<string>uni0E29</string>
		<string>uni0E2A</string>
		<string>uni0E2B</string>
		<string>uni0E2C</string>
		<string>uni0E2D</string>
		<string>uni0E2E</string>
		<string>uni0E2F</string>
		<string>uni0E30</string>
		<string>uni0E31</string>
		<string>uni0E32</string>
		<string>uni0E33</string>
		<string>uni0E34</string>
		<string>uni0E35</string>
		<string>uni0E36</string>
		<string>uni0E37</string>
		<string>uni0E38</string>
		<string>uni0E39</string>
		<string>uni0E3A</string>
		<string>uni0E3F</string>
		<string>uni0E40</string>
		<string>uni0E41</string>
		<string>uni0E42</string>
		<string>uni0E43</string>
		<string>uni0E44</string>
		<string>uni0E45</string>
		<string>uni0E46</string>
		<string>uni0E47</string>
		<string>uni0E48</string>
		<string>uni0E49</string>
		<string>uni0E4A</string>
		<string>uni0E4B</string>
		<string>uni0E4C</string>
		<string>uni0E4D</string>
		<string>uni0E4E</string>
		<string>uni0E4F</string>
		<string>uni0E50</string>
		<string>uni0E51</string>
		<string>uni0E52</string>
		<string>uni0E53</string>
		<string>uni0E54</string>
		<string>uni0E55</string>
		<string>uni0E56</string>
		<string>uni0E57</string>
		<string>uni0E58</string>
		<string>uni0E59</string>
		<string>uni0E5A</string>
		<string>uni0E5B</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>lefttorightmark</string>
		<string>righttoleftmark</string>
		<string>minute</string>
		<string>second</string>
		<string>fraction</string>
		<string>uni2113</string>
		<string>Ohm</string>
		<string>estimated</string>
		<string>partialdiff</string>
		<string>Delta</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>dottedcircle</string>
		<string>uni0E10.alt1</string>
		<string>uni0E34.alt1</string>
		<string>uni0E35.alt1</string>
		<string>uni0E36.alt1</string>
		<string>uni0E37.alt1</string>
		<string>uni0E48.alt1</string>
		<string>uni0E49.alt1</string>
		<string>uni0E4A.alt1</string>
		<string>uni0E4B.alt1</string>
		<string>uni0E4C.alt1</string>
		<string>uni0E48.alt2</string>
		<string>uni0E49.alt2</string>
		<string>uni0E4A.alt2</string>
		<string>uni0E4B.alt2</string>
		<string>uni0E4C.alt2</string>
		<string>uni0E0D.alt1</string>
		<string>uni0E31.alt1</string>
		<string>uni0E4D.alt1</string>
		<string>uni0E47.alt1</string>
		<string>uni0E48.alt3</string>
		<string>uni0E49.alt3</string>
		<string>uni0E4A.alt3</string>
		<string>uni0E4B.alt3</string>
		<string>uni0E4C.alt3</string>
		<string>uni0E38.alt1</string>
		<string>uni0E39.alt1</string>
		<string>uni0E3A.alt1</string>
		<string>uni0E0E.alt1</string>
		<string>uni0E0F.alt1</string>
		<string>uni0E2C.alt1</string>
		<string>uni0E4F.liga</string>
		<string>uni0E24.liga</string>
		<string>uni0E26.liga</string>
		<string>fi</string>
		<string>fl</string>
		<string>MALI</string>
		<string>uni1EA0</string>
		<string>uni1EA1</string>
		<string>uni1EA2</string>
		<string>uni1EA3</string>
		<string>uni1EA4</string>
		<string>uni1EA5</string>
		<string>uni1EA6</string>
		<string>uni1EA7</string>
		<string>uni1EA8</string>
		<string>uni1EA9</string>
		<string>uni1EAA</string>
		<string>uni1EAB</string>
		<string>uni1EAC</string>
		<string>uni1EAD</string>
		<string>uni1EAE</string>
		<string>uni1EAF</string>
		<string>uni1EB0</string>
		<string>uni1EB1</string>
		<string>uni1EB2</string>
		<string>uni1EB3</string>
		<string>uni1EB4</string>
		<string>uni1EB5</string>
		<string>uni1EB6</string>
		<string>uni1EB7</string>
		<string>uni1EB8</string>
		<string>uni1EB9</string>
		<string>uni1EBA</string>
		<string>uni1EBB</string>
		<string>uni1EBC</string>
		<string>uni1EBD</string>
		<string>uni1EBE</string>
		<string>uni1EBF</string>
		<string>uni1EC0</string>
		<string>uni1EC1</string>
		<string>uni1EC2</string>
		<string>uni1EC3</string>
		<string>uni1EC4</string>
		<string>uni1EC5</string>
		<string>uni1EC6</string>
		<string>uni1EC7</string>
		<string>uni1EC8</string>
		<string>uni1EC9</string>
		<string>uni1ECA</string>
		<string>uni1ECB</string>
		<string>uni1ECC</string>
		<string>uni1ECD</string>
		<string>uni1ECE</string>
		<string>uni1ECF</string>
		<string>uni1ED0</string>
		<string>uni1ED1</string>
		<string>uni1ED2</string>
		<string>uni1ED3</string>
		<string>uni1ED4</string>
		<string>uni1ED5</string>
		<string>uni1ED6</string>
		<string>uni1ED7</string>
		<string>uni1ED8</string>
		<string>uni1ED9</string>
		<string>uni1EDA</string>
		<string>uni1EDB</string>
		<string>uni1EDC</string>
		<string>uni1EDD</string>
		<string>uni1EDE</string>
		<string>uni1EDF</string>
		<string>uni1EE0</string>
		<string>uni1EE1</string>
		<string>uni1EE2</string>
		<string>uni1EE3</string>
		<string>uni1EE4</string>
		<string>uni1EE5</string>
		<string>uni1EE6</string>
		<string>uni1EE7</string>
		<string>uni1EE8</string>
		<string>uni1EE9</string>
		<string>uni1EEA</string>
		<string>uni1EEB</string>
		<string>uni1EEC</string>
		<string>uni1EED</string>
		<string>uni1EEE</string>
		<string>uni1EEF</string>
		<string>uni1EF0</string>
		<string>uni1EF1</string>
		<string>Ygrave</string>
		<string>ygrave</string>
		<string>uni1EF4</string>
		<string>uni1EF5</string>
		<string>uni1EF6</string>
		<string>uni1EF7</string>
		<string>uni1EF8</string>
		<string>uni1EF9</string>
		<string>franc</string>
		<string>dong</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Itilde</string>
		<string>itilde</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Utilde</string>
		<string>utilde</string>
		<string>Ohorn</string>
		<string>ohorn</string>
		<string>Uhorn</string>
		<string>uhorn</string>
		<string>hookabovecomb</string>
		<string>tildecomb</string>
		<string>acutecomb</string>
		<string>dotbelowcomb</string>
		<string>gravecomb</string>
	</array>
</dict>
</plist>
