<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.notdef#1</key>
	<string>_notdef#1.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Delta</key>
	<string>D_elta.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>MALI</key>
	<string>M_A_L_I_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohm</key>
	<string>O_hm.glif</string>
	<key>Ohorn</key>
	<string>O_horn.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhorn</key>
	<string>U_horn.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.001</key>
	<string>ampersand.001.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dong</key>
	<string>dong.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>franc</key>
	<string>franc.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hookabovecomb</key>
	<string>hookabovecomb.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lefttorightmark</key>
	<string>lefttorightmark.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nonbreakingspace</key>
	<string>nonbreakingspace.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>righttoleftmark</key>
	<string>righttoleftmark.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00DF</key>
	<string>uni00D_F_.glif</string>
	<key>uni0E00</key>
	<string>uni0E_00.glif</string>
	<key>uni0E01</key>
	<string>uni0E_01.glif</string>
	<key>uni0E02</key>
	<string>uni0E_02.glif</string>
	<key>uni0E03</key>
	<string>uni0E_03.glif</string>
	<key>uni0E04</key>
	<string>uni0E_04.glif</string>
	<key>uni0E05</key>
	<string>uni0E_05.glif</string>
	<key>uni0E06</key>
	<string>uni0E_06.glif</string>
	<key>uni0E07</key>
	<string>uni0E_07.glif</string>
	<key>uni0E08</key>
	<string>uni0E_08.glif</string>
	<key>uni0E09</key>
	<string>uni0E_09.glif</string>
	<key>uni0E0A</key>
	<string>uni0E_0A_.glif</string>
	<key>uni0E0B</key>
	<string>uni0E_0B_.glif</string>
	<key>uni0E0C</key>
	<string>uni0E_0C_.glif</string>
	<key>uni0E0D</key>
	<string>uni0E_0D_.glif</string>
	<key>uni0E0D.alt1</key>
	<string>uni0E_0D_.alt1.glif</string>
	<key>uni0E0E</key>
	<string>uni0E_0E_.glif</string>
	<key>uni0E0E.alt1</key>
	<string>uni0E_0E_.alt1.glif</string>
	<key>uni0E0F</key>
	<string>uni0E_0F_.glif</string>
	<key>uni0E0F.alt1</key>
	<string>uni0E_0F_.alt1.glif</string>
	<key>uni0E10</key>
	<string>uni0E_10.glif</string>
	<key>uni0E10.alt1</key>
	<string>uni0E_10.alt1.glif</string>
	<key>uni0E11</key>
	<string>uni0E_11.glif</string>
	<key>uni0E12</key>
	<string>uni0E_12.glif</string>
	<key>uni0E13</key>
	<string>uni0E_13.glif</string>
	<key>uni0E14</key>
	<string>uni0E_14.glif</string>
	<key>uni0E15</key>
	<string>uni0E_15.glif</string>
	<key>uni0E16</key>
	<string>uni0E_16.glif</string>
	<key>uni0E17</key>
	<string>uni0E_17.glif</string>
	<key>uni0E18</key>
	<string>uni0E_18.glif</string>
	<key>uni0E19</key>
	<string>uni0E_19.glif</string>
	<key>uni0E1A</key>
	<string>uni0E_1A_.glif</string>
	<key>uni0E1B</key>
	<string>uni0E_1B_.glif</string>
	<key>uni0E1C</key>
	<string>uni0E_1C_.glif</string>
	<key>uni0E1D</key>
	<string>uni0E_1D_.glif</string>
	<key>uni0E1E</key>
	<string>uni0E_1E_.glif</string>
	<key>uni0E1F</key>
	<string>uni0E_1F_.glif</string>
	<key>uni0E20</key>
	<string>uni0E_20.glif</string>
	<key>uni0E21</key>
	<string>uni0E_21.glif</string>
	<key>uni0E22</key>
	<string>uni0E_22.glif</string>
	<key>uni0E23</key>
	<string>uni0E_23.glif</string>
	<key>uni0E24</key>
	<string>uni0E_24.glif</string>
	<key>uni0E24.liga</key>
	<string>uni0E_24.liga.glif</string>
	<key>uni0E25</key>
	<string>uni0E_25.glif</string>
	<key>uni0E26</key>
	<string>uni0E_26.glif</string>
	<key>uni0E26.liga</key>
	<string>uni0E_26.liga.glif</string>
	<key>uni0E27</key>
	<string>uni0E_27.glif</string>
	<key>uni0E28</key>
	<string>uni0E_28.glif</string>
	<key>uni0E29</key>
	<string>uni0E_29.glif</string>
	<key>uni0E2A</key>
	<string>uni0E_2A_.glif</string>
	<key>uni0E2B</key>
	<string>uni0E_2B_.glif</string>
	<key>uni0E2C</key>
	<string>uni0E_2C_.glif</string>
	<key>uni0E2C.alt1</key>
	<string>uni0E_2C_.alt1.glif</string>
	<key>uni0E2D</key>
	<string>uni0E_2D_.glif</string>
	<key>uni0E2E</key>
	<string>uni0E_2E_.glif</string>
	<key>uni0E2F</key>
	<string>uni0E_2F_.glif</string>
	<key>uni0E30</key>
	<string>uni0E_30.glif</string>
	<key>uni0E31</key>
	<string>uni0E_31.glif</string>
	<key>uni0E31.alt1</key>
	<string>uni0E_31.alt1.glif</string>
	<key>uni0E32</key>
	<string>uni0E_32.glif</string>
	<key>uni0E33</key>
	<string>uni0E_33.glif</string>
	<key>uni0E33.alt1</key>
	<string>uni0E_33.alt1.glif</string>
	<key>uni0E34</key>
	<string>uni0E_34.glif</string>
	<key>uni0E34.alt1</key>
	<string>uni0E_34.alt1.glif</string>
	<key>uni0E35</key>
	<string>uni0E_35.glif</string>
	<key>uni0E35.alt1</key>
	<string>uni0E_35.alt1.glif</string>
	<key>uni0E36</key>
	<string>uni0E_36.glif</string>
	<key>uni0E36.alt1</key>
	<string>uni0E_36.alt1.glif</string>
	<key>uni0E37</key>
	<string>uni0E_37.glif</string>
	<key>uni0E37.alt1</key>
	<string>uni0E_37.alt1.glif</string>
	<key>uni0E38</key>
	<string>uni0E_38.glif</string>
	<key>uni0E38.alt1</key>
	<string>uni0E_38.alt1.glif</string>
	<key>uni0E39</key>
	<string>uni0E_39.glif</string>
	<key>uni0E39.alt1</key>
	<string>uni0E_39.alt1.glif</string>
	<key>uni0E3A</key>
	<string>uni0E_3A_.glif</string>
	<key>uni0E3A.alt1</key>
	<string>uni0E_3A_.alt1.glif</string>
	<key>uni0E3F</key>
	<string>uni0E_3F_.glif</string>
	<key>uni0E40</key>
	<string>uni0E_40.glif</string>
	<key>uni0E41</key>
	<string>uni0E_41.glif</string>
	<key>uni0E42</key>
	<string>uni0E_42.glif</string>
	<key>uni0E43</key>
	<string>uni0E_43.glif</string>
	<key>uni0E44</key>
	<string>uni0E_44.glif</string>
	<key>uni0E45</key>
	<string>uni0E_45.glif</string>
	<key>uni0E46</key>
	<string>uni0E_46.glif</string>
	<key>uni0E47</key>
	<string>uni0E_47.glif</string>
	<key>uni0E47.alt1</key>
	<string>uni0E_47.alt1.glif</string>
	<key>uni0E48</key>
	<string>uni0E_48.glif</string>
	<key>uni0E48.alt1</key>
	<string>uni0E_48.alt1.glif</string>
	<key>uni0E48.alt2</key>
	<string>uni0E_48.alt2.glif</string>
	<key>uni0E48.alt3</key>
	<string>uni0E_48.alt3.glif</string>
	<key>uni0E49</key>
	<string>uni0E_49.glif</string>
	<key>uni0E49.alt1</key>
	<string>uni0E_49.alt1.glif</string>
	<key>uni0E49.alt2</key>
	<string>uni0E_49.alt2.glif</string>
	<key>uni0E49.alt3</key>
	<string>uni0E_49.alt3.glif</string>
	<key>uni0E4A</key>
	<string>uni0E_4A_.glif</string>
	<key>uni0E4A.alt1</key>
	<string>uni0E_4A_.alt1.glif</string>
	<key>uni0E4A.alt2</key>
	<string>uni0E_4A_.alt2.glif</string>
	<key>uni0E4A.alt3</key>
	<string>uni0E_4A_.alt3.glif</string>
	<key>uni0E4B</key>
	<string>uni0E_4B_.glif</string>
	<key>uni0E4B.alt1</key>
	<string>uni0E_4B_.alt1.glif</string>
	<key>uni0E4B.alt2</key>
	<string>uni0E_4B_.alt2.glif</string>
	<key>uni0E4B.alt3</key>
	<string>uni0E_4B_.alt3.glif</string>
	<key>uni0E4C</key>
	<string>uni0E_4C_.glif</string>
	<key>uni0E4C.alt1</key>
	<string>uni0E_4C_.alt1.glif</string>
	<key>uni0E4C.alt2</key>
	<string>uni0E_4C_.alt2.glif</string>
	<key>uni0E4C.alt3</key>
	<string>uni0E_4C_.alt3.glif</string>
	<key>uni0E4D</key>
	<string>uni0E_4D_.glif</string>
	<key>uni0E4D.alt1</key>
	<string>uni0E_4D_.alt1.glif</string>
	<key>uni0E4E</key>
	<string>uni0E_4E_.glif</string>
	<key>uni0E4E.alt1</key>
	<string>uni0E_4E_.alt1.glif</string>
	<key>uni0E4F</key>
	<string>uni0E_4F_.glif</string>
	<key>uni0E4F.liga</key>
	<string>uni0E_4F_.liga.glif</string>
	<key>uni0E50</key>
	<string>uni0E_50.glif</string>
	<key>uni0E51</key>
	<string>uni0E_51.glif</string>
	<key>uni0E52</key>
	<string>uni0E_52.glif</string>
	<key>uni0E53</key>
	<string>uni0E_53.glif</string>
	<key>uni0E54</key>
	<string>uni0E_54.glif</string>
	<key>uni0E55</key>
	<string>uni0E_55.glif</string>
	<key>uni0E56</key>
	<string>uni0E_56.glif</string>
	<key>uni0E57</key>
	<string>uni0E_57.glif</string>
	<key>uni0E58</key>
	<string>uni0E_58.glif</string>
	<key>uni0E59</key>
	<string>uni0E_59.glif</string>
	<key>uni0E5A</key>
	<string>uni0E_5A_.glif</string>
	<key>uni0E5B</key>
	<string>uni0E_5B_.glif</string>
	<key>uni1EA0</key>
	<string>uni1E_A_0.glif</string>
	<key>uni1EA1</key>
	<string>uni1E_A_1.glif</string>
	<key>uni1EA2</key>
	<string>uni1E_A_2.glif</string>
	<key>uni1EA3</key>
	<string>uni1E_A_3.glif</string>
	<key>uni1EA4</key>
	<string>uni1E_A_4.glif</string>
	<key>uni1EA5</key>
	<string>uni1E_A_5.glif</string>
	<key>uni1EA6</key>
	<string>uni1E_A_6.glif</string>
	<key>uni1EA7</key>
	<string>uni1E_A_7.glif</string>
	<key>uni1EA8</key>
	<string>uni1E_A_8.glif</string>
	<key>uni1EA9</key>
	<string>uni1E_A_9.glif</string>
	<key>uni1EAA</key>
	<string>uni1E_A_A_.glif</string>
	<key>uni1EAB</key>
	<string>uni1E_A_B_.glif</string>
	<key>uni1EAC</key>
	<string>uni1E_A_C_.glif</string>
	<key>uni1EAD</key>
	<string>uni1E_A_D_.glif</string>
	<key>uni1EAE</key>
	<string>uni1E_A_E_.glif</string>
	<key>uni1EAF</key>
	<string>uni1E_A_F_.glif</string>
	<key>uni1EB0</key>
	<string>uni1E_B_0.glif</string>
	<key>uni1EB1</key>
	<string>uni1E_B_1.glif</string>
	<key>uni1EB2</key>
	<string>uni1E_B_2.glif</string>
	<key>uni1EB3</key>
	<string>uni1E_B_3.glif</string>
	<key>uni1EB4</key>
	<string>uni1E_B_4.glif</string>
	<key>uni1EB5</key>
	<string>uni1E_B_5.glif</string>
	<key>uni1EB6</key>
	<string>uni1E_B_6.glif</string>
	<key>uni1EB7</key>
	<string>uni1E_B_7.glif</string>
	<key>uni1EB8</key>
	<string>uni1E_B_8.glif</string>
	<key>uni1EB9</key>
	<string>uni1E_B_9.glif</string>
	<key>uni1EBA</key>
	<string>uni1E_B_A_.glif</string>
	<key>uni1EBB</key>
	<string>uni1E_B_B_.glif</string>
	<key>uni1EBC</key>
	<string>uni1E_B_C_.glif</string>
	<key>uni1EBD</key>
	<string>uni1E_B_D_.glif</string>
	<key>uni1EBE</key>
	<string>uni1E_B_E_.glif</string>
	<key>uni1EBF</key>
	<string>uni1E_B_F_.glif</string>
	<key>uni1EC0</key>
	<string>uni1E_C_0.glif</string>
	<key>uni1EC1</key>
	<string>uni1E_C_1.glif</string>
	<key>uni1EC2</key>
	<string>uni1E_C_2.glif</string>
	<key>uni1EC3</key>
	<string>uni1E_C_3.glif</string>
	<key>uni1EC4</key>
	<string>uni1E_C_4.glif</string>
	<key>uni1EC5</key>
	<string>uni1E_C_5.glif</string>
	<key>uni1EC6</key>
	<string>uni1E_C_6.glif</string>
	<key>uni1EC7</key>
	<string>uni1E_C_7.glif</string>
	<key>uni1EC8</key>
	<string>uni1E_C_8.glif</string>
	<key>uni1EC9</key>
	<string>uni1E_C_9.glif</string>
	<key>uni1ECA</key>
	<string>uni1E_C_A_.glif</string>
	<key>uni1ECB</key>
	<string>uni1E_C_B_.glif</string>
	<key>uni1ECC</key>
	<string>uni1E_C_C_.glif</string>
	<key>uni1ECD</key>
	<string>uni1E_C_D_.glif</string>
	<key>uni1ECE</key>
	<string>uni1E_C_E_.glif</string>
	<key>uni1ECF</key>
	<string>uni1E_C_F_.glif</string>
	<key>uni1ED0</key>
	<string>uni1E_D_0.glif</string>
	<key>uni1ED1</key>
	<string>uni1E_D_1.glif</string>
	<key>uni1ED2</key>
	<string>uni1E_D_2.glif</string>
	<key>uni1ED3</key>
	<string>uni1E_D_3.glif</string>
	<key>uni1ED4</key>
	<string>uni1E_D_4.glif</string>
	<key>uni1ED5</key>
	<string>uni1E_D_5.glif</string>
	<key>uni1ED6</key>
	<string>uni1E_D_6.glif</string>
	<key>uni1ED7</key>
	<string>uni1E_D_7.glif</string>
	<key>uni1ED8</key>
	<string>uni1E_D_8.glif</string>
	<key>uni1ED9</key>
	<string>uni1E_D_9.glif</string>
	<key>uni1EDA</key>
	<string>uni1E_D_A_.glif</string>
	<key>uni1EDB</key>
	<string>uni1E_D_B_.glif</string>
	<key>uni1EDC</key>
	<string>uni1E_D_C_.glif</string>
	<key>uni1EDD</key>
	<string>uni1E_D_D_.glif</string>
	<key>uni1EDE</key>
	<string>uni1E_D_E_.glif</string>
	<key>uni1EDF</key>
	<string>uni1E_D_F_.glif</string>
	<key>uni1EE0</key>
	<string>uni1E_E_0.glif</string>
	<key>uni1EE1</key>
	<string>uni1E_E_1.glif</string>
	<key>uni1EE2</key>
	<string>uni1E_E_2.glif</string>
	<key>uni1EE3</key>
	<string>uni1E_E_3.glif</string>
	<key>uni1EE4</key>
	<string>uni1E_E_4.glif</string>
	<key>uni1EE5</key>
	<string>uni1E_E_5.glif</string>
	<key>uni1EE6</key>
	<string>uni1E_E_6.glif</string>
	<key>uni1EE7</key>
	<string>uni1E_E_7.glif</string>
	<key>uni1EE8</key>
	<string>uni1E_E_8.glif</string>
	<key>uni1EE9</key>
	<string>uni1E_E_9.glif</string>
	<key>uni1EEA</key>
	<string>uni1E_E_A_.glif</string>
	<key>uni1EEB</key>
	<string>uni1E_E_B_.glif</string>
	<key>uni1EEC</key>
	<string>uni1E_E_C_.glif</string>
	<key>uni1EED</key>
	<string>uni1E_E_D_.glif</string>
	<key>uni1EEE</key>
	<string>uni1E_E_E_.glif</string>
	<key>uni1EEF</key>
	<string>uni1E_E_F_.glif</string>
	<key>uni1EF0</key>
	<string>uni1E_F_0.glif</string>
	<key>uni1EF1</key>
	<string>uni1E_F_1.glif</string>
	<key>uni1EF4</key>
	<string>uni1E_F_4.glif</string>
	<key>uni1EF5</key>
	<string>uni1E_F_5.glif</string>
	<key>uni1EF6</key>
	<string>uni1E_F_6.glif</string>
	<key>uni1EF7</key>
	<string>uni1E_F_7.glif</string>
	<key>uni1EF8</key>
	<string>uni1E_F_8.glif</string>
	<key>uni1EF9</key>
	<string>uni1E_F_9.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
